.vs/
out/
*.user
*.exe
*.dll
*.pdb
*.map
*.obj
*.lib
*.exp
*.ilk
*.msi
*.msix
*.msixbundle
*.zip
*.7z
*.tar
*.tar.gz
*.sha256.txt
*.pfx
*.p12
*.pvk
*.pem
*.key
*.cer
*.crt
*.log
*.etl
*.dmp
*.mdmp
*.jsonl
.env
.env.*
*.secrets.*
!.env.example
